.sidebar{
    flex: 3;
    padding: 62px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    position: fixed;
  
    
}
::-webkit-scrollbar {
    width: 5px;
    
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    
}
::-webkit-scrollbar-thumb {
   background-color: rgb(179, 178, 179);
   
}
.sidebarWrapper{
   
   margin-top: -40px;
     margin-left: -70px; 
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 15px;
}
.sidebarButton{
    width: 100px;
    border: none;
    padding: 10px;
    margin-left: 40px;
    border-radius: 5px;
    font-weight: 500;      
}
.sidebarHr{
    margin: 20px 40px;
}
.sidebarFriendList{
    padding: 0;
    margin: 15px;
    list-style: none;
   
   
}

